{% extends 'articles/base.html' %}
{% load bootstrap4 %}
{% block body %}
<h4>{{ article.id }}번 글</h4>
<h1>{{ article.title }}</h1>

<p>{{ article.content }}</p>
{% if article.image %}
    <div><img src="{{ article.image.url }}" alt=""></div>
{% endif %}
<hr>

<p>작성일자 : {{ article.created_at }}</p>
<p>수정일자 : {{ article.updated_at }}</p>
<p>작성자 : {{ article.user }}</p>
<hr>
<p>{{ article.like_users.count }}명이 이 글을 좋아합니다.</p>


<a href="{% url 'articles:like' article.pk %}">
    {% if user in article.like_users.all %}
        <i class="far fa-heart fa-2x" style="color:pink"></i>
    {% else %}
        <i class="fas fa-heart fa-2x" style="color:pink"></i>
    {% endif %}
</a>
<hr><hr>
<a href="{% url 'articles:index' %}">목록으로</a>

{% if article.user == request.user %}
    <form action="{% url 'articles:delete' article.pk %}" method="POST" 
    onclick="return confirm('정말 삭제하시겠습니까?')">
        {% csrf_token %}
        <input type="submit" value="삭제">
    </form>
    <a href="{% url 'articles:update' article.pk %}">수정하기</a>
{% endif %}


<hr>
<h3>댓글 작성 </h3>
<h4>댓글 수 : {{ comments.count }}</h4>
<hr>

{% if user.is_authenticated %}
    <form action="{% url 'articles:comment_create' article.pk %}" method="POST">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <!-- <input type="text" name="comment_content"> -->
        <input type="submit" value="작성">
    </form>
{% endif %}


<!-- {% for comment in comments %}
    <li>{{ comment.content }}</li>
    <li>{{ comment.created_at }}</li>
    <hr>
{% empty %}
    <p>댓글이 없습니다.</p>
{% endfor %} -->

{% for comment in article.comment_set.all %}
    <hr>
    <li>{{comment.user.username }} : {{ comment.content }}</li>
    <li>일시 : {{ comment.created_at }}</li>

    {% if comment.user == request.user %}
        <form action="{% url 'articles:comment_delete' article.pk comment.pk %}" method="POST" 
        onclick="return confirm('정말 삭제하시겠습니까?')">
            {% csrf_token %}
            <input type="submit" value="삭제">
        </form>
    {% endif %}
    <hr>

{% empty %}
    <p>댓글이 없습니다.</p>
{% endfor %}

{% endblock %}