{% extends 'articles/base.html' %}
{% block body %}
<h1>{{ article.id }}번 글</h1>
<h2>{{ article.title }}</h2>
<p>작성시간 : {{ article.created_at }}</p>
<p>수정일자 : {{ article.updated_at }}</p>
<hr>
<p>{{ article.content }}</p>
<hr>

<!-- a tag : GET -->
<a href="{% url 'articles:index' %}">목록으로</a>
<form action="{% url 'articles:delete' article.pk %}" method="POST"
onclick="return confirm('정말 삭제하시겠습니까?')">
    {% csrf_token %}
    <input type="submit" value="삭제">
</form>
<a href="{% url 'articles:update' article.pk %}">수정하기</a>
{% endblock %}